* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --primary-bg-color: #f9fafb;
    --secondary-bg-color: #f3f4f6;
    --hover-bg-color: #e5e7eb;
    --primary-txt-color: #4b5563;
    --secondary-txt-color: #9ca3af;
    --primary-border-color: #e5e7eb;
     /* Priority colors */
    --high-priority-bg-color: #fecaca;
    --high-priority-txt-color: #ef4444;
    --med-priority-bg-color: #fde68a;
    --med-priority-txt-color: #eab308;
    --low-priority-bg-color: #bbf7d0;
    --low-priority-txt-color: #22c55e;
    /* Add task button colors */
    --accent-bg-color: #bfdbfe;
    --accent-txt-color: #3b82f6;
    --accent-hover-bg-color: #93c5fd;
    --accent-hover-txt-color: #2563eb;
}

.dark-mode {
    --primary-bg-color: #111827;
    --secondary-bg-color: #030712;
    --hover-bg-color: #1f2937;
    --primary-txt-color: #f9fafb;
    --secondary-txt-color: #9ca3af;
    --primary-border-color: #1f2937;
}

/* Generic system styles */

body {
    font-family: var(--primary-font);
    font-size: 16px;
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-color);
}

h1, h2, h3 {
    font-weight: 600;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.2rem;
}

button {
    border: none;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1rem;
    border-radius: 4px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-txt-color);
}

button:hover {
    background-color: var(--hover-bg-color);
    color: var(--primary-txt-color);
    cursor: pointer;
}

.icon-btn {
    font-size: 1.2rem;
    padding: 4px;
    display: flex;
    align-items: center;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Nav Bar */

nav {
    display: flex;
    align-items: center;
    padding: 0px 48px;
    gap: 8px;
    height: 4rem;
    background-color: var(--secondary-bg-color);
    border-bottom: 1px solid var(--primary-border-color);
}

nav .left-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
}

nav img {
    height: 2.2rem;
    border-radius: 50%;
}

/* Main Container */

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
}

/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 48px;
    height: 100%;
    min-width: 336px;
    background-color: var(--secondary-bg-color);
}

.collapse {
    position: absolute;
    left: -336px;
}

.sidebar .view-list-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar .btns-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar .btns-container button {
    font-size: 1.2rem;
    padding: 4px 8px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar .btns-container button span {
    font-size: 0.8rem;
    margin-left: auto;
}

.sidebar .projects-heading {
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--primary-border-color);
}

.sidebar .projects-heading .icon-btn { /* Probs change to id here since only one */
    margin-left: auto;
}

/* Main View Content */

.view-container {
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 8px;
    position: relative; /* For modals */
}

/* Tasks */

.tasks-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.task {
    display: flex;
    gap: 16px;
    padding: 12px 16px;
    border-bottom: 1px solid var(--primary-border-color);
}

.task:hover {
    cursor: pointer;
}

.task .complete-btn  {
    background: none;
    border: 2px solid var(--secondary-txt-color);
    border-radius: 50%;
    height: 1.1rem;
    width: 1.1rem;
    align-self: center;
    position: relative;
}

.task .complete-btn:hover::after {
    color: var(--secondary-txt-color);
    border-radius: 50%;
    content: '✓';
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.task .primary-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-left: 4px solid var(--primary-border-color);
    padding-left: 8px;
}

.task .description {
    font-size: 0.8rem;
    color: var(--secondary-txt-color);
}

.task .meta-container {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 8px;
    margin-left: auto;
    margin-bottom: auto;
}

.task .meta-tag {
    width: max-content;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: 500;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-txt-color);
}

.task .high-priority {
    background-color: var(--high-priority-bg-color);
    color: var(--high-priority-txt-color);
}

.task .medium-priority {    
    background-color: var(--med-priority-bg-color);
    color: var(--med-priority-txt-color);
}

.task .low-priority {    
    background-color: var(--low-priority-bg-color);
    color: var(--low-priority-txt-color);
}

#add-task-btn {
    padding: 4px 8px;
    background: none;
    display: flex;
    gap: 4px;
    align-items: center;
}

/* FORMS AND MODALS */

/* All forms */

form fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

form input[type="text"] {
    outline: none;
    border: none;
    background: none;
    font-size: 1rem;
    color: var(--primary-txt-color);
}

form input[type="text"]::placeholder {
    color: var(--secondary-txt-color);
}

form .textarea {
    outline: none;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    overflow: hidden;
    resize: none;
    min-height: 40px;
    line-height: 20px;
    font-size: 0.8rem;
    color: var(--primary-txt-color);
    font-family: var(--primary-font);
}

form .textarea[contenteditable]:empty::before {
    content: "Task description";
    color: var(--secondary-txt-color);
    font-size: 0.8rem;
    font-family: var(--primary-font);
}

form select, form input[type="date"] {
    outline: none;
    border: none;
    font-family: var(--primary-font);
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 500;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-txt-color);
}

form select {
    padding: 2px 4px;
}

form input[type="date"] {
    padding: 4px 6px;
}

form select:focus, form input[type="date"]:focus {
    background-color: var(--hover-bg-color);
    color: var(--primary-txt-color);
}

form select:hover, form input[type="date"]:hover {
    background-color: var(--hover-bg-color);
    color: var(--primary-txt-color);
    cursor: pointer;
}

form .btns-container {
    display: flex;
    justify-content: end;
    gap: 8px;
    margin-top: auto;
    margin-left: auto;
}

form .btns-container button {
    padding: 4px 8px;
    border: 1px solid var(--primary-border-color);
}

form .create-btn {
    background-color: var(--accent-bg-color);
    color: var(--accent-txt-color);
}

form .create-btn:hover {
    background-color: var(--accent-hover-bg-color);
    color: var(--accent-hover-txt-color);
}

/* New task form */

.new-task-form-container {
    border: 1px solid var(--primary-border-color);
    border-radius: 4px;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.new-task-form-container form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.new-task-form-container form .meta-input-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

/* Modals */
.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    border-radius: 4px;
    width: 336px;
    min-height: 240px;
    background-color: var(--primary-bg-color);
    border: 1px solid var(--primary-border-color);
}

.modal form h3 {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--primary-border-color);
}